<% title t 'aliment.new.title' %>

<% form_for(@aliment, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  
		<%= render :partial => 'editor', :locals => { :f => f } %>
<div class="column wide">
	<fieldset class="buttons">
		<%= f.submit t('common.create') %>
	</fieldset>
</div>
<% end %>

<%= link_to t('common.back'), aliments_path %>
