<%title t('consultation.new.title')%>

<% error_messages_for :consultation %>

<% form_for([@user, @consultation], :html => {:multipart => true}) do |f| %>
	<%= render :partial => 'editor', :locals => {:f => f} %>
  <div class="column wide">
		<fieldset class="buttons">
			<%= f.submit t('common.create') %>
		</fieldset>
		<%= link_to t('common.back'), @user %>
	</div>
<% end %>

