.amazon
{
	float: right;
	margin-right: 12px;
}

#preview
{
	border: 1px solid #BED95C;
	padding: 12px;	
}

#errorExplanation
{
	border: 1px solid #BA013F;
	padding: 12px;
	color: #BA013F;
}

#errorExplanation h2
{
	font-size: 118%;
}

div.flash
{
	font-size: 118%;
	line-height: 1.5em;
}

div.flash.notice
{
	color: #54B32F;
}

span.flash.error
{
	color: #BA013F;
}

div.user.profile
{
	float: right;
	border: 1px solid #BED95C;
	padding: 1em;
}

div.user_photo
{
	padding-top: 12px;	
}

div.flag
{
	font-size: 80%;
}

input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
  width: 342px;
}

div#attribution
{
	z-index: 50;
	position: absolute;
	top: 300px;
	left: 30%;
	border: 2px solid #569730;
	padding: 24px;
	background-color: #DFD65F;
}

img.feed
{
	border: 0px;
}

input#find_name
{
	border: 2px solid #569730;
	font-size: 145%;
	color: #82166B;
	background-color: #CFC326;/*inherit;*/
	font-family: Verdana,Geneva,Helvetica,Arial,sans-serif;
	font-weight: bold;
	padding: 4px;
	margin-bottom: 0.5em;
}

div.aliment_preview
{
	z-index: 110;
	border: 1px solid #BED95C;
	position: absolute;
	background-color: #F1F7CC;
	padding-left: 1em;
}

div.aliment_preview div.preview
{
	float: right;
	padding: 1em 1em 1em 0;
}

div.aliment_preview div.preview div.element
{
	display: inline;
}